# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# composer lock
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# developer's vscode settings
/.vscode

# uploaded files
/web/files/*

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

# Файл с конфигурацией подключения к дампу БД, которая используется при разработке
# <?php
#
# return [
#     'class' => 'yii\db\Connection',
#     'dsn' => 'pgsql:host=127.0.0.1;dbname=mirea_dev;port=5434',
#     'username' => 'postgres',
#     'password' => '',
#     'charset' => 'utf8',
# ];
/config/db-dev.php

# локальный набор параметров для организации
/config/localparams.php